  <% if(currentUser.role=="partenaire"||currentUser.role=="god" ){ %>

<div class="row">
    <table class="table">
      <thead>
      <tr>
         <th scope="col">Nom</th>
         <th scope="col">Téléphone</th>
         <th scope="col">Programme</th>
         <th scope="col">Université</th>
         <th scope="col">Retour sur rencontre</th>
         <th scope="col">Statut</th>
      </tr>
      </thead>
      <tbody>
      <% leads.forEach(function(lead){ %>
      <tr>
        <td scope="row"><%=lead.fullName %></td>
        <td><%=lead.phone %></td>
        <td><%=lead.major %></td>
        <td><%=lead.school %></td>
        <td><a href="https://financetoimieux.typeform.com/to/RBD5Y3?user=<%=currentUser.username%>&id=<%=lead.fullName%>">Lien du formulaire</a></td>
        <td><%=lead.state %></td>
      </tr>
      <% }) %>
      </tbody>
    </table> 
  <%} %>




