<% include partials/ftm-head.ejs %>


<div class="col-md-4"></div>
			
<div class="col-md-4">
  <section class="userpage">
     <img src="http://www.financetoimieux.com/assets/img/shared/layout/logo-finance-toi-mieux-fr@2x.png" class="img-responsive" alt="ftm-logo" />
     <h1> Salut <%=currentUser.name %></h1>
<% if(currentUser.role=="directeur"){ %>
  <div class="btn-group">
     <a href="https://financetoimieux.typeform.com/to/seakzh?user=<%=currentUser.username%>&name=<%=currentUser.name%>" class="btn btn-primary" target="_blank">Retour sur rencontre</a>
     <a href="https://financetoimieux.typeform.com/to/eGESTs?channel=intranet" class="btn btn-success" target="_blank">Offre bancaire étudiante</a>
     <a href="https://datastudio.google.com/open/1VEfek3Nd5IyBo3q7xv2W7-4zIdOQPLCs" class="btn btn-info" target="_blank">Suivi concours GFTM</a>
     <a href="https://datastudio.google.com/open/1uPo7fE9qP-EeiwpKVEhW4y1Y2cZWUDHP" class="btn btn-info" target="_blank">Suivi réf pour GFTM</a>
     <a href="#" class="btn btn-primary" >Tableau de bord - suivi de rendez-vous (À VENIR)  </a>
  </div>
<%} %>

<% if(currentUser.role=="conseiller"){ %>
  <div class="btn-group">
     <a href="https://financetoimieux.typeform.com/to/seakzh?user=<%=currentUser.username%> " class="btn btn-primary" target="_blank">Retour sur rencontre</a>
     <a href="h://financetoimieux.typeform.com/to/eGESTs?channel=intranet" class="btn btn-success" target="_blank">Offre bancaire étudiante</a>
  </div>

  <div class=" btn-group">
    <p></p>
    <a href="http://www.afe.gouv.qc.ca/prets-et-boursesetudes-a-temps-plein/calcul-de-laide/simulateur-de-calcul" class="btn" target="_blank">Lien vers l'AFE</a>
    <a href= "#"></a>
  </div>
  <% if(currentUser.region=="Gatineau"){ %>
    <a href="">Tableau de suivi <%=currentUser.region %> </a>
  <%} %>

  <% if(currentUser.region=="Montreal"){ %>
    <a href="">Tableau de suivi <%=currentUser.region %> </a>
  <%} %>

<%} %>
<% if(currentUser.role=="god"){ %>
  <div class="btn-group">
     <a href="https://financetoimieux.typeform.com/to/seakzh?user=<%=currentUser.username%> " class="btn btn-primary" target="_blank">Suivi de RV</a>
     <a href="https://financetoimieux.typeform.com/to/eGESTs?channel=intranet" class="btn btn-success" target="_blank">Marge de crédit étudiante</a>
     <a href="https://datastudio.google.com/open/1VEfek3Nd5IyBo3q7xv2W7-4zIdOQPLCs" class="btn btn-info" target="_blank">Suivi concours GFTM</a>
     <a href="https://datastudio.google.com/open/1uPo7fE9qP-EeiwpKVEhW4y1Y2cZWUDHP" class="btn btn-info" target="_blank">Suivi réf pour GFTM</a>
  </div>
<%} %>




<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="https://secure.kronos-web.com/" class="" target="_blank">Accéder à Kronos</a></li>
  <li class=""><a href="https://gestionftm.facebook.com/" class="" target="_blank">Accéder à Workplace</a></li>
  <li class=""><a href="https://financetoimieux.ca/" class="" target="_blank">Accéder à Financetoimieux</a></li>
</ul>

<div>
  This is your userpage -- <a href="/logout" class="btn btn-danger">Logout</a>
</div>
  </section>  

</div>

<div class="col-md-4"></div>
